<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Parag & Shreya" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, maximum-scale = 1.0" />

    <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic' rel='stylesheet' type='text/css'>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <%= favicon_link_tag 'moose.JPG' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
      <footer class="row">
        <hr>
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <p>Copyright © 2015 Parag and Shreya, All rights reserved.
            </p>
          </div>
          <div class="large-6 columns music-player">
            <div id="cp_widget_c4e988d9-c3d9-45b7-9704-dc4261c57132">...</div>
            <script type="text/javascript">
              var cpo = []; cpo["_object"] ="cp_widget_c4e988d9-c3d9-45b7-9704-dc4261c57132";
              cpo["_fid"] = "AUAA5ts0ZJfs";
              var _cpmp = _cpmp || [];
              _cpmp.push(cpo);
              (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
              cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
              var c = document.getElementsByTagName("script")[0];
              c.parentNode.insertBefore(cp, c); })();
              </script>
              <noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting for Business</a> solution.
              <span>New Gallery 2015/7/8</span>
              <span>Maroon 5 - Sugar</span>
              </noscript>
            <!-- <ul class="inline-list right"> -->
              <!-- <li><a href="#">FAQ</a></li> -->
              <!-- <li><a href="#">Privacy</a></li> -->
              <!-- <li><a href="#">Suscribe</a></li> -->
            <!-- </ul> -->
          </div>
        </div>
      </div>
  </footer>
  </body>
</html>